html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./assets/bg-home1.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100%;
}

.badge {
  border-radius: 50%;
  padding: 15px;
}

.logout {
  cursor: pointer;
}

.loading {
  position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	width: 30%; height: auto;
}

.card-footer {
  background-color: #fff;
}

.project-summary, .project-details, .notifications {
  opacity: .8;
}

form button, form h3 {
  margin: 20px 0;
}